<%- include('../partials/header')%>

<div class='container'>
	<header class='jumbotron p-4'>
		<div class='container'>
			<h1>Welcome to BJJ Hub</h1>
			<p>
				Find a friendly place to roll, wherever you are in the world!
			</p>
			<p>
				<a class='btn btn-primary btn-lg' href='/dojos/new'>Add New Dojo</a>	
			</p>
		</div>
	</header>

	<div class='row text-center' style='display:flex; flex-wrap:wrap;'>
		<% dojos.forEach(function(dojo){ %>
			<div class='col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch'>
				<div class='card'>
					<img src='<%= dojo.image %>' class='card-img-top' id='indexPhoto' alt='<%= dojo.name %>'>
					<div class='card-body d-flex flex-column'>
						<h5 class='card-title'><%= dojo.name %></h5>
						<a href='/dojos/<%= dojo._id %>' class='btn btn-secondary mt-auto'>More Info</a>
					</div>
				</div>
			</div>  
		<% }); %>	
	</div>

</div>

<%- include('../partials/footer')%>